
.container{
 
 height: 240px;
 width:240px;
 position: relative;
 margin:50px auto;
 border-radius: 6px;
 padding-bottom:40px;
 padding-top:10px; 
 background-color:rgb(201, 199, 199) ; 

}
.container label{
    padding-top: 50px;
    
}
.form-signin{
    padding-top:   0px;
    margin: auto 0;
    padding-right:5px;
    border-radius: 6px;
}

.form-signin label{
    text-align: left;
    margin-top: 10px;
}  
.form-signin input{
    margin: 5px auto;
}
body {
    
}
.container form{
    margin:auto 5px;
    padding-right:5px;
}

.cards{
    align:center;
    border: 1px;
    margin-left: 100px;
    
}
.card-item{
    width: 240px;
    height: 300px;
    border: 1;
    border-color: black;
    text-align: center;
    background-color: grey;
    float:right;
    border-radius: 15px;
    margin-bottom: 50px;
}
.cards .container-cards{
    width: 240px;
    height: 300px;
    border: 1px;
    text-align: center;
}
.cards img{
    height: 240px;
    width: 240px;
    border-radius: 15px;
    
}